.DS_Store
.env
**/*.env
!.env.example

# frontend
frontend/.svelte-kit/
frontend/build/
frontend/node_modules/
**/package-lock.json

/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea

# elastic
elastic/elastic.env
elastic/http_ca.crt
**/__pycache__/
elastic/elasticsearch_data/
elastic/kibana_data/

# backend
backend/cmake_install.cmake
backend/CMakeCache.txt
backend/Makefile
backend/CMakeFiles/
backend/vcpkg/


# Created by https://www.toptal.com/developers/gitignore/api/c++,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,cmake

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/c++,cmake
